<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>25/09/2025</td>
            <td>12:12</td>
            <td>Luis</td>
            <td>33</td>
            <td>Masculino</td>
            <td>luisito@gmail.com</td>
            <td>Pendiente</td>
            <td></td>
        </tr>
    </tbody>
</table>