<div class="table-wrap">
    <table class="appointments-table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>25/09/2025</td>
            <td>12:12</td>
            <td>Luis</td>
            <td>33</td>
            <td>Masculino</td>
            <td>luisito@gmail.com</td>
            <td><span class="status">Pendiente</span></td>
            <td class="actions-cell"><app-btn-conf></app-btn-conf><app-btn-canc></app-btn-canc></td>
        </tr>
        <tr>
            <td>28/09/2025</td>
            <td>15:42</td>
            <td>Marcos</td>
            <td>27</td>
            <td>Masculino</td>
            <td>marcos@gmail.com</td>
            <td><span class="status">Confirmada</span></td>
            <td class="actions-cell"><app-btn-conf></app-btn-conf><app-btn-canc></app-btn-canc></td>
        </tr>
        <tr>
            <td>30/09/2025</td>
            <td>10:02</td>
            <td>Ainara</td>
            <td>26</td>
            <td>Femenino</td>
            <td>ainara@gmail.com</td>
            <td><span class="status">Cancelada</span></td>
            <td class="actions-cell"><app-btn-conf></app-btn-conf><app-btn-canc></app-btn-canc></td>
        </tr>
    </tbody>
</table>
<!-- div con texto no hay citas para mostrar -->
</div>