<div class="container-centered">
    <div class="card-custom">
      <h2>Registro Paciente</h2>
      <form>
        <input type="text" [(ngModel)]="patient.name" name="name_patient" placeholder="Nombre" required>
        <input type="number" [(ngModel)]="patient.age" name="age_patient"  placeholder="Edad" required>
        <select [(ngModel)]="patient.gender" name="gender_patient"  required>
          <option value="" disabled selected>Selecciona género</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
        <input type="email" [(ngModel)]="patient.email" name="email_patient" placeholder="Correo electrónico" required>
        <input type="password" [(ngModel)]="patient.password" name="password_patient" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
      </form>
      <p class="mt-3">¿Ya tienes cuenta? <a routerLink = "/login-patient" routerLinkActive="active">Inicia sesión</a></p>
      <p class="mt-2"><a routerLink = "../kickoff" routerLinkActive="active">⬅ Volver al inicio</a></p>
    </div>
  </div>
