<div class="container-centered">
    <div class="card-custom">
      <h2>Registro Paciente</h2>
      <form>
        <input type="text" name="first_name_patient" placeholder="Nombre" required>
        <input type="text" name="last_name_patient" placeholder="Apellido" required>
        <input type="number" name="age_patient" placeholder="Edad" required>
        <select name="gender_patient" required>
          <option value="">Selecciona género</option>
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Otro">Otro</option>
        </select>
        <input type="email" name="email_patient" placeholder="Correo electrónico" required>
        <input type="password" name="password_patient" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
      </form>
      <p class="mt-3">¿Ya tienes cuenta? <a rooterLink = "/login-patient" routerLinkActive="active">Inicia sesión</a></p>
      <p class="mt-2"><a rooterLink = "/kickoff" routerLinkActive="active">⬅ Volver al inicio</a></p>
    </div>
  </div>
