<div class="table-wrap">
    <table class="appointments-table">
    <thead>
        <tr>
            <th>Fecha - Hora</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(appointment of appointments(); track appointment.id){
        <tr>
            <td>
                {{ appointment.date | date:'dd/MM/yyyy' }} - {{ appointment.date | date:'HH:mm' }}
            </td>
            <td>{{ appointment.name.charAt(0).toUpperCase() + appointment.name.slice(1) }}</td>
            <td>{{ appointment.specialty.charAt(0).toUpperCase() + appointment.specialty.slice(1) }}</td>
            <td>{{ appointment.email }}</td>
            <td>
                {{ appointment.status === 'CANCEL' ? 'Cancelada' :  appointment.status === 'CONFIRM' ? 'Confirmada' : appointment.status === 'CREATED' ? 'Pendiente' : appointment.status  }}
            </td>
            <td>
                <app-btn-canc (accion)="canceledState(appointment?.id, 'Cancelada')"></app-btn-canc>
            </td>
        }
    </tbody>
</table>
<!-- div con texto no hay citas para mostrar -->
</div>
