<div class="table-wrap">
    <table class="appointments-table">
    <thead>
        <tr>
            <th>Fecha</th>
            <!-- <th>Hora</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Email</th> -->
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(appointment of appointments; track appointment.id;){
        <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.status}}</td>
            <td>
                <app-btn-canc (accion)="updateState(appointment?.id! - 1, 'Cancelada')"></app-btn-canc>
            </td>
        }
    </tbody>
</table>
<!-- div con texto no hay citas para mostrar -->
</div>
