<nav class="app-nav">
  <div class="brand">PlexSalud</div>
  <ul class="nav-links">
    <!-- Si NO está logeado -->
    <!-- <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/kickoff" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/login-doctor" routerLinkActive="active">Médicos</a></li>
      <li><a routerLink="/login-patient" routerLinkActive="active">Pacientes</a></li>
    </ng-container> -->
 

    <ng-container>
      <li><button class="btn-logout" (click)="logout()">Cerrar sesión</button></li>
    </ng-container>
 

  </ul>
</nav>