<nav class="app-nav">
  <h1>
    <span class="blue">Plex</span><span class="green">Salud</span>
  </h1>
  <ul class="nav-links">
    <!-- Si NO está logeado -->
    <!-- <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/kickoff" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/login-doctor" routerLinkActive="active">Médicos</a></li>
      <li><a routerLink="/login-patient" routerLinkActive="active">Pacientes</a></li>
    </ng-container> -->
 

    <ng-container>
      <li><button class="btn-logout" (click)="logout()"><i class="bi bi-box-arrow-right"></i></button></li>
    </ng-container>
 

  </ul>
</nav>